<head>
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400"
    rel="stylesheet"
  />
</head>
<div class="row">
  <div class="container" style="margin-top: 52%;">
    <div class="col-sm-12" style="display: contents;">
      <div class="col-sm-2" style="margin-right: 25%;">
        <div class="card">
          <i class="fas fa-box-open" style="color: white;"></i>
          <h3 class="title">Products</h3>
          <div class="bar">
            <div class="filledbar"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-2" style="margin-right: 25%;">
        <div class="card">
          <h3 class="title">Who We Serve</h3>
          <div class="bar">
            <div class="filledbar"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-2" style="margin-right: 25%;">
        <div class="card">
          <h3 class="title">Contact Us</h3>
          <div class="bar">
            <div class="filledbar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
