<div class="container">
  <div class="row">
  <div class="col-sm-12 col-sm-6 mt-4">
    <h1 class="heading">Green initiative</h1>
    <div class="col-sm-6" style="float: left">
      <img src="../../assets/images/GreenInitiative.png">
    </div>
    <div class="col-sm-6" style="float: right;">
      <p>Cyclopentane, a 100% green blowing agent, is being used extensively throughout the Americas and Europe. 
        It is the green alternative to 141B which was discontinued in South Africa in 2016 and CIP industries cc, taking cognisance of enviromental imperatives , changed to cyclopentane in 2017.</p>
    </div>
  </div>
</div>
</div>

<div
  class="row"
  [ngStyle]="{
    'Background-color' : 'azure',
    'Background-size': 'cover',
    height: '25%',
    'background-attachment': 'fixed'
  }"
>
  <div class="col-sm-12 mt-4">
    <div class="row">
      <div class="col-sm-3 ml-2 text-align">
        <h1 class="heading">Contact Us</h1>
        <div class="border1"></div>
        <p>
          Email: fraserac@gmail.com<br />
          Cell: +27 79 558 3101
        </p>
        <br />
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-3 text-align ml-2">
        <h1 class="heading">Where to find us</h1>
        <div class="border1"></div>
        <p>
          296 Samantha Street <br />
          Strydom Park <br />
          Randburg <br />
          Gauteng, South Africa
        </p>
        <br />
      </div>
      <div class="col-sm-1 ml-4"></div>
      <div class="col-sm-3 text-align">
        <h1 class="heading">Operating Hours</h1>
        <div class="border1"></div>
        <p> Monday - Thursday: 06H30 - 15H30<br>
        Friday: 06H30 - 14H30
        </p>
        <br />
      </div>
    </div>
  </div>
</div>
