<div class="card" style="height: 100%; border: none;">
  <div class="card-body">
    <p class="card-text mt-5 info" style="height: 100%;">
      CIP Industries cc was established in 1986 as a moulded packaging
      manufacturing concern. 18 years ago it designed and developed its own line
      of cold chain boxes, Frigivac®, which is supplied to the pharmaceutical
      industry and logistics companies and is used primarily in the
      transportation and distribution of temperature-sensitive vaccines, cold
      chain products and perishables. CIP has also supplied various
      international aid organisations such as JICA, the WHO and UNICEF, which
      require cold chain solutions for the distribution of vaccines and
      medicines in their international relief endeavours.
    </p>
  </div>
</div>
