<app-nav></app-nav>

<div
  class="row"
  [ngStyle]="{
    'background-image': 'url(' + photoUrl + ')',
    'Background-size': 'cover',
    height: '80%',
    overflow: 'none',
    'background-attachment': 'fixed'
  }"
  [@Img]="appearImg"
>
  <div class="container">
    <div class="col-sm-12" style="margin-top: 18%;">
      <h1 class="heading" style="color: white;">CIP Industries PTY LTD</h1>
    </div>
    <div class="col-sm-12 mt-5 mb-5" style="padding-top: 10%;" hidden>
      <div class="row">
        <div class="col-sm-3">
          <div class="card" style="background-color: blueviolet;">
            <div class="card-body">
              <h1 style="color: white;">Products</h1>
            </div>
          </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
          <div class="card" style="background-color: blueviolet;">
            <div class="card-body">
              <h1 style="color: white;">Who We Serve</h1>
            </div>
          </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
          <div class="card" style="background-color: blueviolet;">
            <div class="card-body">
              <h1 style="color: white;">Contact Us</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" style="height: 80%;" [@Img]="appearImg">
  <div class="container">
    <div class="col-sm-12 text-align" style="margin-top: 10%;">
      <h1 style="font-size: 4.5rem;" #aboutUs>About Us</h1>
    </div>
    <div style="border-bottom: 1px solid grey; margin-top: 21px;"></div>

    <div class="col-sm-12" *ngIf="isOpen" [@slideInOut]>
      <app-aboutus></app-aboutus>
    </div>
  </div>
</div>
