<div class="card AboutUsCard">
  <div class="card-body">
    <p class="card-text mt-5 info" style="height: 100%;">
      CIP industries cc designs, manufactures and supplies custom cold chain solutions for the transportation and storage of
    </p>
    <ul class="listinfo">
      <li>Pharmacuticals and vacccines</li>
      <li>Whole blood (blood plasma, platelets)</li>
      <li>Human and animal specimens</li>
      <li>Perishable goods</li>
    </ul>
    <p class="card-text mt-5 info" style="height: 100%;">
      It also designs and produces custom moulded packaging for any application for high-level during storage and transportation. 
      <br>
      <br>
      If we fo not have a cold box that suits your need we will design one for you that meetas all your requierments.
    </p>
  </div>
</div>
